body {
  display: grid;
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  font-size: 15px;
  font-family: Outfit;
}
.main-container {
  width: 90%;
  max-width: 350px;  /* limit maximum width to keep the container size static */
  background: white;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}
.qr-code-image {
  width: 98%;  /* Adjust image width relative to container */
  max-width: 350px;  /* Prevent image from becoming too large */
  height: auto;  /* Maintain aspect ratio */
  display: block;  /* Allows margin auto to work */
  margin: 0 auto;  /* Centers horizontally */
  border-radius: 15px;
}
.main-text {
  font-weight: 600;
  margin: 20px auto;
  max-width: 180px;
}
.sub-text {
  margin: 0 auto;
  max-width: 250px;
  color: hsl(216, 15%, 48%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}