@media(max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .main-container {
    max-width: 90%;
    margin: 0px auto;
    background-color: white;
    border: none;
    border-radius: 25px;
  }
  .qr-code-image {
    width: 90%;
    margin: 10px auto;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
@media(min-width: 601px) {
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}